.board{
 margin-left:50px;
 margin-top: 50px; 


}

.board__row{
    clear: both;
    content: "";
    display: table;


}


.board__result{
    text-align: left;
}

.board__reset{
    text-align: left;
}


.board__reset__button{
    text-align: left; 

}


